body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.plastico{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.eco{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.circ{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Tnat{
    color: rgb(40, 163, 40);
}

.habeco{
    color: rgb(226, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
}

.habcirc{
    color: rgb(226, 16, 16);
}

.Habplast{
    color: rgb(226, 16, 16);
}

.habele{
    color: rgb(226, 16, 16); 
}

img {
    width: 800px;

}